{% extends "base.html" %}
{% load static duration_tags %}
{% block content %}

<p><a class="btn btn-default" href="{% url 'CompApp:detail' event.competition.slug %}">Competition Events</a></p>
<br>
<h1>{{ event }}</h1>
<br>
<table class="table">
    <tr>
        {% for item in headers %}
            <th>{{ item }}</th>
        {% endfor %}
        <th></th>
    </tr>
    {% for result in event_results%}
    <tr>
        <td>{% if result.event.track_choice == 'Heats' %}
                {% if lane_draw %}
                    {{ lane_draw.pop }}
                {% endif %}
            {% else %}
                {{ result.house_points | floatformat }}
            {% endif %}
        </td>
        <td>{{ result.student.house }}</td>
        <td>{{ result.student }}{{ result.house }}</td>
        <td>{{ result.time | duration }}{{ result.distance | floatformat:2}}</td>
        <td>{% if result.record_check == True %}
            Record Breaker
            {% endif %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
