{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'CompApp:detail' event.competition.slug %}">Competition Events</a></p>
<br>
<h1>{{ event }}</h1>
<br>
<table class="table">
    <tr>
        {% for item in headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    {% for result in event_results %}
    <tr>
    <td>{{ result.house_points }}</td>
    <td>{{ result.student }}{{ result.house }}</td>
    <td>{{ result.time|time:'i:s.u' }}{{ result.distance }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
